---
import { marked } from "marked";
import fs from "fs";

const { fileName="index" } = Astro.params;
const path = process.env.MARKDOWN_PATH;
const filePath = `${path}/${fileName}.md`;

if (!fileName.includes('..') && !fileName.includes("~") && fs.existsSync(filePath)) {
	var content = marked(fs.readFileSync(filePath, 'utf-8'));
};
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Пояснение</title>
		<style>
			@tailwind utilities;
			@tailwind components;

			body {
				font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
			}
		</style>
	</head>
	<body class="dark:bg-gray-950 dark:text-white">
		{
			content
				? <article class="prose dark:prose-invert prose-blue py-16 mx-auto" set:html={content} />
				: <h1 class="text-center text-red-500 font-extrabold text-3xl py-16">Куда лезешь чорт</h1>
		}
	</body>
</html>
