---
import { marked } from 'marked';
import fs from "fs";

const path = import.meta.env.VITE_MARKDOWN_PATH;
const { fileName } = Astro.params;

let showError = false;
if (!fileName || fileName.includes('..') || fileName.includes('/')) {
	showError = true;
}

let content = null;
if (!showError) {
	const filePath = `${path}/${fileName}.md`;
	if (fs.existsSync(filePath)) {
		content = marked(fs.readFileSync(filePath, 'utf-8'));
	} else {
		showError = true;
	}
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="dark:bg-gray-950 dark:text-white">
		{
			content && <article class="prose dark:prose-invert py-16 mx-auto" set:html={content} />
		}
		{
			showError && <h1>404 - Not Found</h1>
		}
	</body>
</html>
