---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content"


export const getStaticPaths = (async () => {
	const project = await getCollection("md");

	return project.map((file) => ({
		params: {
			fileName: file.slug.replace("index", "")
		},
		props: {file}
}));
}) satisfies GetStaticPaths;

const { render } = Astro.props.file;

const { Content } = await render();
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Пояснение</title>
		<style>
			@tailwind utilities;
			@tailwind components;

			body {
				font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
			}
		</style>
	</head>
  <body class="dark:bg-gray-950 dark:text-white">
		<article class="prose dark:prose-invert prose-blue py-16 mx-auto">
			<Content />
		</article>
  </body>
</html>